.idea/
.pytest_cache/
.DS_Store
.AppleDouble
.LSOverride
__pycache__/
*.html
*.png
*.mp4
*.log
*.manifest
*.spec
*.pid
*.py[cod]
venv
*/*/venv/
!parameters/files/
/utils/api/args.json
/utils/ui/cookies.json
!utils/formatters/templates/*.html
!parameters/courses/common/*.html
!parameters/courses/common/exercises/*.html
/test_results
/downloads
!parameters/courses/ui/*.html
!parameters/courses/ui/exercises/*.html
results.json
